@import 'variable';

body {
    margin: 0;
    background-color: black;
    font-size: 100%;
    font-family: $primary-font;
}

.main-content-price {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    @media (max-width: 1025px) {
        height: auto;
        flex-direction: column;
    }
    &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        left: 0;
        z-index: 1;
        h1 {
            margin: .75em 0 0;
            font-size: 60px;
            color: white;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-shadow: 4px 4px 0 rgba(0,0,0,.35);
        }
    }
    &__col {
        position: relative;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
        @media (max-width: 1025px) {
            width: auto;
        }
        .bg {
            position: absolute;
            width: 300px;
            z-index: 0;
        }
        .box-product {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__txt {
                display: flex;
                flex-direction: column;
                align-items: center;
                .txt-title {
                    font-size: 32px;
                    line-height: 28px;
                    text-transform: uppercase;
                    text-align: center;
                }
                .txt-price {
                    font-size: 70px;
                }
            }
            &__img {
                img {
                    width: 180px;
                    transform: rotate(20deg);
                }
            }
        }
        &--content1 {
            background-color: #FBD187;
            .box-product {
                &__txt {
                    margin-top: 180px;
                    color: #5D3424;
                }
            }
        }
        &--content2 {
            background-color: #DA69A8;
            .box-product {
                &__txt {
                    margin-top: 200px;
                    color: #782456;
                }
            }
        }
        &--content3 {
            background-color: #84EEBD;
            .box-product {
                &__txt {
                    margin-top: 240px;
                    color: #15623b;
                }
            }
        }
        &--content4 {
            background-color: #29ABE2;
        }
    }
}